# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3

# Env
.env
.env.*
.venv
venv

# Build caches
.cache
.mypy_cache
.pytest_cache
.dist
build/
dist/

# IDE
.vscode
.idea

# Local data
chroma_db/
uploads/
documents/

# Git
.git
.gitignore
